{% extends "base.html" %}
{% block title %}
    Error 500
{% endblock %}

{% block head %}
    {% assets "errorpage" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="../static/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot > <a href="/">Dashboard</a> > Server Error!</h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <script>
    function redirect() {
        window.location.href = "/"
    }
    </script>
    <div id="body-content">
        <div class="info-dialogue">
            <h1>OOOPS!</h1>
            <p>Seems like the server couldn't handle your request!<br>
            Try again in a few minutes,<br>
            if the error persists contact <a>CommandCrafterHD#7075</a> on discord about it!<br>
            Otherwise just hit the button below to get back to the dashboard!</p>
        </div>
        <div class="noselect" id="home_button" onclick="redirect()"><p>BACK TO DASHBOARD</p></div>
    </div>
{% endblock %}