<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type=text/css href="/static/css/reset.css">
    <link rel="stylesheet" type=text/css href="/static/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/files/Ingenious-Bot.ico">
    <script src="/static/lib/require.js"></script>
    <script src="/static/lib/main.js"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<header>
    <script>
        function logout() {
            window.location.href = "/logout"
        }
    </script>
    {% block header %}{% endblock %}
</header>
<body>
<div class="content">
    {% block body %}
        The body block is not overwritten. This is an error
    {% endblock %}
</div>
</body>
<!-- <footer>{% block footer %}{% endblock %}</footer> Imma exclude this, since we might not need the footer block here -->
<footer>&copy;2019 CommandCrafterHD&nbsp;<b class="footer-spacer noselect">|</b>&nbsp;<a href="/imprint">Imprint</a>&nbsp;<b class="footer-spacer noselect">|</b>&nbsp;<a href="/disclaimer">Disclaimer</a>&nbsp;<b class="footer-spacer noselect">|</b>&nbsp;<a href="/privacy">Privacy Policy</a></footer>
<script>
    var top_distance = document.querySelector("header").offsetHeight;
    var bottom_distance = document.querySelector("footer").offsetHeight;
    document.querySelector("body").setAttribute("style", "padding-top:"+top_distance+'px;'+"padding-bottom:"+bottom_distance+'px;');
</script>
</html>