{% extends "base.jinja2" %}
{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot <b class="bread-crumb-spacer noselect">/</b> <a href="dashboard">Dashboard</a></h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="dashboard-box">
        <div class="dashboard-icon icon-servers noselect">
            <p>&#128295;</p>
        </div>
        <div class="dashboard-description">
            <p>
                Manage the modules of this bot on the servers where you are the owner or at least have administrative permissions.
            </p>
        </div>
        <div onclick="window.location.href = '/servers'" class="dashboard-button">
            <p>Server list</p>
        </div>
    </div>

    <div class="dashboard-box">
        <div class="dashboard-icon icon-gitlab noselect">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="120px" width="120px">
        </div>
        <div class="dashboard-description">
            <p>
                We are open source! If you want to look at the code, hit the button below!
            </p>
        </div>
        <div onclick="window.open('https://gitlab.com/CommandCrafterHD/ingenious-bot-rewrite')" class="dashboard-button">
            <p>To gitlab</p>
        </div>
    </div>

    <div class="dashboard-box">
        <div class="dashboard-icon icon-discord noselect">
            <img src="/static/files/Discord-Icon.png" height="90px" width="90px">
        </div>
        <div class="dashboard-description">
            <p>
                Need help? Join our support Discord server!
            </p>
        </div>
        <div onclick="window.open('https://discord.gg/XbHcjbc')" class="dashboard-button">
            <p>Join</p>
        </div>
    </div>

{% endblock %}