{% extends "base.jinja2" %}
{% block title %}
    Disclaimer
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/disclaimer.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot <b class="bread-crumb-spacer noselect">/</b> <a href="dashboard">Dashboard</a> <b class="bread-crumb-spacer noselect">/</b> <a href="disclaimer">Disclaimer</a></h1>
    </div>
    {% if values.user %}
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
<div id="disclaimer-box">
<h1>Disclaimer</h1>
<br/>
<p>Last updated: January 08, 2019</p>
<br/>
<p>The information contained on http://www.ingenious-bot.net website (the "Service") is for general information purposes only.</p>

<p>Ingenious Bot assumes no responsibility for errors or omissions in the contents on the Service.</p>
<br/>
<p>In no event shall Ingenious Bot be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Ingenious Bot reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>
<br/>
<p>This Disclaimer  for Ingenious Bot is based on the <a href="https://termsfeed.com/blog/sample-disclaimer-template/">TermsFeed's Disclaimer Template</a>.</p>
<br/>
<p>Ingenious Bot does not warrant that the website is free of viruses or other harmful components.</p>
<br/>
<h2>External links disclaimer</h2>
<br/>
<p>http://www.ingenious-bot.net website may contain links to external websites that are not provided or maintained by or in any way affiliated with Ingenious Bot</p>

<p>Please note that the Ingenious Bot does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>

</div>
{% endblock %}