{% extends "base.jinja2" %}
{% block title %}
    Imprint
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/imprint.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot <b class="bread-crumb-spacer noselect">/</b> <a href="dashboard">Dashboard</a> <b class="bread-crumb-spacer noselect">/</b> <a href="imprint">Imprint</a></h1>
    </div>
    {% if values.user %}
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
<div id="imprint-box">
    <h1>Imprint</h1>
    <br />
    <h2>Information according to § 5 TMG:</h2>
    <br />Florian Cegledi<br />
    <br />Weidenfeldstraße 19
    <br />35216 Weifenbach, Germany <br />
    <br />
    <h2>Contact:</h2>
    <br />Phone: +49 1511 8505255
    <br />E-Mail: cchd@gmx.de
    <br />
    <br />
    <h2>Graphics used on this website:</h2>
    <br /><a href="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png">&bull; Gitlab</a>
</div>
{% endblock %}