{% extends "base.jinja2" %}
{% block title %}
    Login
{% endblock %}

{% block head %}
        <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot</h1>
    </div>
{% endblock %}

{% block body %}
    <script>
        function redirect() {
            window.location.replace("https://discordapp.com/api/oauth2/authorize?client_id=482698705468784640&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fauth&response_type=code&scope=identify%20guilds")
        }
    </script>
    <div class="login_div">
        <div class="noselect" id="login_button" onclick="redirect()"><p>LOGIN WITH DISCORD</p></div>
        <p>By clicking the above button and logging in you agree to the use of cookies on this website to save and process your userdata.</p>
    </div>
{% endblock %}
