{% extends "base.jinja2" %}
{% block title %}
    Server: {{ values.guild.name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/server.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot <b class="bread-crumb-spacer noselect">/</b> <a href="/dashboard">Dashboard</a> <b class="bread-crumb-spacer noselect">/</b> <a href="/servers">Servers</a> <b class="bread-crumb-spacer noselect">/</b> {{ values.guild.name }}</h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <ul>
        <form method="post" enctype='application/json'>
            <div class="config-tab">
                {% if not values.guild.icon %}
                <img src="https://cdn.discordapp.com/splashes/{{ values.guild.id }}/{{ values.guild.splash }}.png">
                {% else %}
                <img src="https://cdn.discordapp.com/icons/{{ values.guild.id }}/{{ values.guild.icon }}.png">
                {% endif %}
                <div class="config-sub-tab">
                    <h2>{{ values.guild.name }}</h2>
                    <p>On this page you can configure the modules of this bot on your guild "{{ values.guild.name }}" to your hearts desire. Once you're done and feel like everything is the way it should be, hit the save button at the bottom of the page!</p>
                </div>
            </div>

            {% if values.successfull_update == True %}

            <div class="config-tab" id="successfull_update_info">
                <p>&#10004; The configuration has been updated successfully!</p>
            </div>

            {% endif %}
            <div class="config-tab">
                <div class="config-sub-tab">
                    <h2>General</h2>
                    <p>Here are some of the general settings for your bot, not specific to some module!</p>
                    <div class="config-option">
                        <h1>Prefix:</h1> <input required name="prefix" type="text" title="The Prefix of the bot on your guild!" maxlength="10" value="{{ config.prefix }}">
                    </div>
                </div>
            </div>
            <div class="config-tab">
                <div class="config-sub-tab">
                    <h2>Welcome-Module</h2>
                    <p>Here you can set both the private and the server-wide welcome messages!</p>
                    <h3>Server-Wide</h3>
                    <div class="config-option">
                        <h1>Active: </h1>
                        {% if config.welcome_active %}
                            <div class="onoffswitch">
                                <input type="checkbox" name="sw_welcome_switch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        {% else %}
                            <div class="onoffswitch">
                                <input type="checkbox" name="sw_welcome_switch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <div class="config-option">
                        <h1>Channel: </h1>
                        <select name="welcome_channel">
                            {% for channel in values.channels %}
                                {% if channel.type == 0 %}
                                    <option value="{{ channel.id }}">#{{channel.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="config-option">
                        <h1>Message: </h1>
                        {% if config.welcome_message %}
                            <textarea name="welcome_message" maxlength="2000" title="You can use {name} as a placeholder for the user's name!" placeholder="What to greet new members with...">{{ config.welcome_message }}</textarea>
                        {% else %}
                            <textarea name="welcome_message" maxlength="2000" title="You can use {name} as a placeholder for the user's name!" placeholder="What to greet new members with...">Welcome {name}!</textarea>
                        {% endif %}
                    </div>
                    <h3>Private</h3>
                    <div class="config-option">
                        <h1>Active: </h1>
                        {% if config.welcome_active_private %}
                            <div class="onoffswitch">
                                <input type="checkbox" name="sw_welcome_switch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        {% else %}
                            <div class="onoffswitch">
                                <input type="checkbox" name="sw_welcome_switch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <div class="config-option">
                        <h1>Message: </h1>
                        {% if config.welcome_message_private %}
                            <textarea name="welcome_message" maxlength="2000" title="You can use {name} as a placeholder for the user's name!" placeholder="What to greet new members with...">{{ config.welcome_message_private }}</textarea>
                        {% else %}
                            <textarea name="welcome_message" maxlength="2000" title="You can use {name} as a placeholder for the user's name!" placeholder="What to greet new members with...">Welcome {name}!</textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="config-tab">
                <div class="config-sub-tab">
                    <h2>Default Role</h2>
                    <p>Configure what role to give new people in your discord!</p>
                    <div class="config-option">
                        <h1>Role: </h1>
                        <select name="default_role">
                            {% for role in values.guild.roles %}
                                <option value="{{ role.id }}">{{role.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="config-confirm-div">
                <input type="submit" value="Save">
            </div>
        </form>
    </ul>
{% endblock %}