{% extends "base.jinja2" %}
{% block title %}
    Servers
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/servers.css">
{% endblock %}

{% block header %}
    <div class="bot-title">
        <img class="noselect" src="/static/files/Ingenious_Bot.png" height="80px">
        <h1 class="noselect">Ingenious Bot <b class="bread-crumb-spacer noselect">/</b> <a href="dashboard">Dashboard</a> <b class="bread-crumb-spacer noselect">/</b> <a href="servers">Servers</a></h1>
    </div>
    <div class="user-widget">
        <img class="user-image noselect" src={{ values.user_avatar }} height="80px">
        <div>
            <p class="noselect">{{ values.user.username }}#{{ values.user.discriminator }}</p>
            <div class="logout-div noselect" onclick="logout()"><p>LOGOUT</p></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <script>
        function redirect(id) {
            window.location.href = "/server/" + id
        }
    </script>
    <ul>
        {% for guild in guilds %}
            <li>
                <div class="guild-tab">
                    {% if not guild.icon %}
                    <img src="https://cdn.discordapp.com/splashes/{{ guild.id }}/{{ guild.splash }}.png">
                    {% else %}
                    <img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png">
                    {% endif %}
                        <div class="guild-sub-tab">
                            <h2>{{ guild.name }}</h2>
                            <div class="noselect config-button" onclick="window.location.href = '/server/{{ guild.id }}'"><p>Change Configuration</p></div>
                        </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}