.content {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
}

.dashboard-box {
    height: 500px;
    width: 300px;

    display: flex;
    flex-flow: column;
    align-items: center;

    border-radius: 20px;
    border: 5px solid #23272A;
    background-color: transparent;
    margin: 10px;
}

.dashboard-icon {
    margin-top: 30px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.icon-servers {
    background-color: #314796;
    font-size: 50px;
    text-shadow: 3px 3px #23272A;
}

.icon-gitlab {
    background-color: #524484;
}

.icon-discord {
    background-color: #23272A;
}

.dashboard-description {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.dashboard-button {
    bottom: 50px;
    background-color: #7289DA;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-button:hover {
    background-color: #4B62B1;
    box-shadow: 5px 5px #23272A;
}

.dashboard-button > p {
    padding: 15px;
    font-weight: 200;
    font-size: 20px;
    color: white;
}