body {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#disclaimer-box {
  padding: 10px;

  color: white;
  font-size: 20px;

  height: fit-content;
  width: 1200px;

  display: flex;
  flex-flow: column;
  align-items: left;

  border-radius: 20px;
  border: 5px solid #23272A;
  background-color: transparent;
  margin: 10px;
}

#disclaimer-box > h1 {
  text-decoration: white underline;
  font-size: 30px;
  font-weight: 500;
}

#disclaimer-box > h2 {
  text-decoration: white underline;
  font-size: 25px;
  font-weight: 400;
}

#disclaimer-box > p.greyed {
  color: gray;
}