html{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
  margin: 0;
  padding: 0;
}

.login_div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login_div > p {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

#login_button {
  background-color: #7289DA;
  border-radius: 5px;
  cursor: pointer;
  width: 20vw;
  display: flex;
  justify-content: center;
  transition: .3s;
}

#login_button:hover {
  background-color: #4B62B1;
  box-shadow: 5px 5px #23272A;
}

#login_button > p {
  padding: 15px;
  font-weight: 500;
  font-size: 3vh;
  color: white;
}