body {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#imprint-box {
  padding-top: 10px;
  padding-left: 10px;

  color: white;
  font-size: 20px;

  height: 400px;
  width: 600px;

  display: flex;
  flex-flow: column;
  align-items: left;

  border-radius: 20px;
  border: 5px solid #23272A;
  background-color: transparent;
  margin: 10px;
}

#imprint-box > h1 {
  text-decoration: white underline;
  font-size: 30px;
  font-weight: 500;
}

#imprint-box > p.greyed {
  color: gray;
}