@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #2C2F33;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #7289DA;
}

header {
  background-color: #23272A;
  padding: 10px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-items: center;
  justify-content: space-between;

  overflow: hidden;
}

header > div > h1 {
  color: white;
  margin-left: 20px;
  font-size: 30px;
}

header > div > h1 > b.bread-crumb-spacer {
  opacity: 0.5;
  text-decoration: none;
}

header > .bot-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

footer {
  background-color: #23272A;
  color: white;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: center;
  align-items: center;

  padding-left: 10px;
}

footer > a {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer > b.footer-spacer {
  opacity: 0.5;
  text-decoration: None;
}

.noselect {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.user-image {
  height: 50px;
  border-radius: 25px;
}

.logout-div {
  background-color: #ff6b6b;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;
}

.logout-div:hover {
  box-shadow: 3px 3px black;
  background-color: #ee5253;
}

.logout-div > p {
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.user-widget {
  width: fit-content;
  height: 100px;
  background-color: #23272A;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-widget > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-widget > img {
  margin-right: 10px;
}

.user-widget > div > div.logout-div {
  margin-top: 10px;
}

.user-widget > div > p {
  margin-top: 5px;
  color: white;
}

