body {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#privacy-box {
  padding: 10px;

  color: white;
  font-size: 20px;

  height: fit-content;
  left: 100px;
  right: 100px;

  display: flex;
  flex-flow: column;
  align-items: left;

  border-radius: 20px;
  border: 5px solid #23272A;
  background-color: transparent;
  margin: 10px;
}

#privacy-box > h1 {
  text-decoration: white underline;
  font-size: 30px;
  font-weight: 500;
}

#privacy-box > h2 {
  text-decoration: white underline;
  font-size: 25px;
  font-weight: 400;
}

#privacy-box > h3 {
  text-decoration: white underline;
  font-size: 25px;
  font-weight: 400;
}

#privacy-box > h4 {
  text-decoration: white underline;
  font-size: 25px;
  font-weight: 400;
}

#privacy-box > p.greyed {
  color: gray;
}