#successfull_update_info {
  background-color: forestgreen;
  border: darkgreen 2px solid;
}

#successfull_update_info > p {
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.config-tab {
  border-radius: 20px;
  border: 5px solid #23272A;
  background-color: transparent;
  margin: 10px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: center;
  align-items: center;
}

.config-tab > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px;
}

.config-sub-tab {
  min-height: 110px;
  margin: 10px;
}

.config-sub-tab > h2 {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.config-sub-tab > h3 {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-decoration: white underline;
}

.config-sub-tab > p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.config-option {
  min-height: 20px;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.config-option > h1 {
  text-underline: white;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.config-option > input {
  padding-left: 3px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  background: transparent;
  border: none;
  border-bottom: solid 1px gray;
  transition: .3s;
}

.config-option > input:focus {
  outline: none;
  border-bottom: solid 2px lightgray;
}

.config-confirm-div {
  margin-top: 30px;
  width: 100%;
  display: flex;
}

.config-confirm-div > input[type="submit"] {
  padding: 20px;
  margin-left: auto;
  margin-right: 30px;
  background-color: limegreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  transition: .3s;
}

.config-confirm-div > input[type="submit"]:hover {
  box-shadow: 3px 3px black;
  background-color: #17A217;
}

.config-option > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;

  padding: 7px;
  background: #2C2F33;
  color: white;
  font-size: 16px;

  outline: none;

  border-bottom: solid 1px gray;
  transition: .3s;
}

.config-option > select > option {
  color: lightgray;
}

.config-option > select:hover {
  cursor: pointer;
}

.config-option > select:focus::-ms-value {
  background-color: transparent;
}

.config-option > select::-ms-expand {
  display: none;
}

.config-option > select:focus {
  outline: none;
  border-bottom: solid 2px lightgray;
}

.config-option > textarea {
  padding: 3px;
  color: white;
  font-size: 15px;
  font-weight: 50;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: 0 1px 0 0 lightgray;
  transition: .3s;
}

.config-option > textarea:focus {
  box-shadow: 0 2px 0 0 lightgray;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
