.guild-tab {
  border-radius: 20px;
  border: 5px solid #23272A;
  background-color: transparent;
  margin: 10px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: center;
  align-items: center;
}

.guild-tab > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px;
}

.guild-sub-tab {
  height: 110px;
  margin-left: 10px;
}

.guild-sub-tab > h2 {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.config-button {
  background-color: #7289DA;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
  transition: .3s;
}

.config-button:hover {
  background-color: #4B62B1;
  box-shadow: 5px 5px #23272A;
}

.config-button > p {
  padding: 15px;
  font-weight: 200;
  font-size: 15px;
  color: white;
}